@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-size: 14px;
    background: url(../img/bg1.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0; /* Remove default body margin */
}


h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}


.text-center {
    text-align:center;
}

h2 {
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    width: 100%;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px rgb(124, 198, 248);
    color: #072247; /* Red text color */
    font-family: sans-serif; /* Specify the font family */
}
h3 {
    color:#000;
    line-height:30px;
    padding-bottom:10px;
}
h4 {
   padding-top: 25px;
line-height: 40px;
padding-bottom: 0px;
font-size: 22px;
font-weight: 900;

}

p {
    color: #000;
    font-weight:300;
    line-height:30px;
    padding-bottom:15px;
}

.space-free {
    height:100px;
}

section {
    padding-top:5px;
    margin-top:5px;
}

.consss{
    padding-top:100px;
}
.label-danger {
font-size: 18px;
}
/*=======================================
    HOME SECTION STYLES
==================================================*/

.go-marg {
    margin-top:40px;
}

#home-sec { 
  
    
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: auto;
 padding-top:150px;
   min-height:650px;
    color:#fff;
    
}

.head-main {
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px rgb(124, 198, 248);
    color: #072247; /* Red text color */
    font-family: 'Open Sans'; /* Specify the font family */
}


.head-last {
    padding-top: 70px;
    width: 100%;
    font-size:20px ;
	text-shadow: 3px 3px 3px #ababab;
    
}

#services-sec{
	text-align: center;
	margin-top:-120px;
	padding-top:-120px;
}
.adjst{
	margin-top: -40px;
}

/* ===========================================================
   NAVBAR CHANGES   
   ============================================================*/
.navbar {
	font-size: 18px;
}

.navbar-inverse {
background: #000000;
min-height: 60px;
padding-top: 5px;

}

.navbar-inverse .navbar-nav > .active > a {
	background: #ffffff;
}

.navbar-inverse .navbar-brand {
	color: rgb(255, 255, 255);
	font-weight: bolder;
	font-size: 25px;
    font-weight:900;
    font-family: 'Open Sans';
	letter-spacing: 2px;
}
.navbar-inverse .navbar-brand img{
	margin-top: -20px;
	max-height: 60px;
	max-width: 60px;
}
.navbar-inverse :hover .navbar-brand:hover {
	color: #ffffff;	
}
.navbar-inverse .navbar-nav > li > a {
color: #ffffff;
font-family: 'Open Sans';
}
.navbar-inverse {
border-color: #D6D6D6;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #7fd5e4;
}
.navbar-toggle {
    background-color: black;
}
/*=======================================
    Contact STYLES
==================================================*/
.conus {
    padding-top: 100px;
    color: white;
    text-align: center;

  }
  
  .conus h2 {
    font-size: 70px;
    font-family: 'Open Sans';
  }
  
  .conus p {
    font-size: 27px;
    text-shadow: 3px 3px 3px #ababab;
  }

.cnt {
width: 100%;
min-height: 350px;
border: 2px solid black;
}
/*=======================================

/*=======================================
    MEDIA QUERIES
    
    ==================================================*/

@media all and (max-width:700px) and (min-width:381px) {
    .head-main { 
        width: 100%;
        font-size: 50px;
    }
}

@media all and (max-width:381px) and (min-width:200px) {
    .head-main { 
        width: 100%;
        font-size: 40px;
    }
}

@media all and (max-width:700px) and (min-width:401px) {
    .head-last { 
        width: 100%;
    }
}

@media all and (max-width:381px) and (min-width:100px) {
    .head-last { 
        width: 100%;
    }
}